!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    script(type='text/javascript', src='/javascripts/jquery-1.9.0.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')
  body
    .navbar
      .navbar-inner
        .container
          a.brand(href='#') itachi presentation-stubulator

    .container
      block content

      hr
      footer
        p © 2012